/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
thead,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

* {
  box-sizing: border-box;
}

/*INICIO*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "MontserratRegular", "ArsenalRegular", sans-serif;
  margin: 1.1vw;
  border: 0.1vw solid #1674f4;
  padding: 0vw;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  /*fondo-barra-scroll*/
  background-color: #e9e9e9;
}

::-webkit-scrollbar-thumb {
  /*barra-scroll*/
  background-color: #0933a3;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #005dc5;
}

a {
  text-decoration: none;

  transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}

::selection {
  background-color: rgba(22, 116, 244, 0.3);
}

/*MENÚ*/

#menu-general {
  width: 0;
  height: 0;
  border-top: 150px solid #0933a3;
  border-right: 150px solid transparent;
  position: absolute;
  top: 1.1vw;
  left: 1.1vw;
}

#trigger-overlay {
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: -150px;
  width: 80px;
  height: 100px;
  text-align: center;
  font-family: "ArsenalRegular";
  background: none;
  outline: none;

  transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
}

#trigger-overlay:hover {
  /*	transform: scale(0.9);*/
  width: 70px;
}

/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../imagenes/concrete_seamless.png);
  z-index: 100;
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../imagenes/close-menu.png) no-repeat center center;
  color: transparent;
  outline: none;
  z-index: 100;
  cursor: pointer;
  opacity: 0.8;
}

.overlay .overlay-close:hover {
  opacity: 1;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 45%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
}

.overlay ul li a {
  display: block;
  color: #002c5b;
  font-size: 40px;
  line-height: 80px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.overlay ul li a:hover {
  color: #0933a3;
}

/* Effects */
.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.overlay-hugeinc nav {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.overlay-hugeinc nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
}
/*CIERRE MENÚ*/

header {
  margin: auto;
  width: 200px;
  height: 200px;
  margin: 20px auto;
}

header figure,
header figure img {
  width: 200px;
  height: 200px;

  transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}

header figure:hover {
  -webkit-filter: saturate(2);
  filter: saturate(2);
}

#categorias-inicio {
  width: 1024px;
  height: 540px;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}

#categorias-inicio li {
  position: relative;
  float: left;
  width: 320px;
  height: 250px;
  margin: 10px;
  background-position: center center;
  background-size: cover;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#categorias-inicio li:nth-child(1) {
  background-image: url(../imagenes/landing/products/pvc.jpg);
}

#categorias-inicio li:nth-child(2) {
  background-image: url(../imagenes/landing/products/cemento.jpg);
}

#categorias-inicio li:nth-child(3) {
  background-image: url(../imagenes/landing/products/hierro.jpg);
}

#categorias-inicio li:nth-child(4) {
  background-image: url(../imagenes/landing/products/tejas.jpg);
}

#categorias-inicio li:nth-child(5) {
  background-image: url(../imagenes/landing/products/tanques.jpg);
}

#categorias-inicio li:nth-child(6) {
  background-image: url(../imagenes/landing/products/accesorios.jpg);
}

#categorias-inicio li:nth-child(2) a h2,
#categorias-inicio li:nth-child(4) a h2,
#categorias-inicio li:nth-child(5) a h2 {
  padding-top: 30px;
}

#categorias-inicio a {
  width: 320px;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 80px;
  color: white;
}

#categorias-inicio a:hover {
  background-color: rgba(50, 50, 50, 0.5);
}

#categorias-inicio li a h2 {
  width: 200px;
  height: 80px;
  margin: auto;
  text-align: center;
  border: 1px solid white;
  background-color: rgba(0, 79, 189, 0.7);
  font-size: 22px;
  font-family: "ArsenalBold";
  text-transform: uppercase;
  padding-top: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#categorias-inicio li a h2 span {
  font-size: 18px;
  font-weight: 300;
  font-family: "ArsenalRegular";
  text-transform: none;
}

#quienes-somos-inicio {
  width: 100%;
  height: 400px;
  margin: auto;
  background-image: url(../imagenes/pattern-blue.jpg);
  margin-bottom: 50px;
  color: white;
  padding: 100px;
  text-align: center;
}

#quienes-somos-inicio h1 {
  font-size: 28px;
  letter-spacing: 2px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#quienes-somos-inicio p {
  font-size: 20px;
  line-height: 40px;
}

#sedes {
  width: 85vw;
  height: 300px;
  margin: auto;
  margin-bottom: 0px;
  background-image: url(../imagenes/concrete_seamless.png);
}

#sedes section {
  position: relative;
  float: left;
  width: 45%;
  height: 250px;
  text-align: center;
  border: 1px solid #0933a3;
  font-size: 20px;
  line-height: 30px;
  margin: 2.5%;
  padding: 3rem;
  color: #242a36;
}

#sedes section h2 {
  color: #0933a3;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#slider-logos {
  width: 85vw;
  height: 200px;
  margin: auto;
  background-image: url(../imagenes/concrete_seamless.png);
  margin: 0 auto;
  line-height: 200px;
  color: white;
  text-align: center;
  padding-top: 60px;
}

#flexiselDemo1 {
  display: none;
}

.nbs-flexisel-container {
  position: relative;
  max-width: 80%;
  margin-left: 10%;
}
.nbs-flexisel-ul {
  position: relative;
  width: 9999px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
}

.nbs-flexisel-inner {
  overflow: hidden;
  float: left;
  width: 100%;
}

.nbs-flexisel-item {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
  line-height: 0px;
}

.nbs-flexisel-item img {
  width: 100%;
  position: relative;
  max-width: 200px;
  max-height: 77px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
  width: 50px;
  height: 100px;
  position: absolute;
  cursor: pointer;
  z-index: 5;
}

.nbs-flexisel-nav-left {
  left: -50px;
  background: url(../imagenes/button-previous.png) no-repeat;
}

.nbs-flexisel-nav-right {
  right: -50px;
  background: url(../imagenes/button-next.png) no-repeat;
}
/**/

#tres-principales {
  width: 100%;
  height: 300px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
}

#tres-principales li {
  width: 32%;
  height: 300px;
  position: relative;
  float: left;
}

#tres-principales li:nth-child(1) {
  background-image: url(../imagenes/landing/principales/ferreteria.jpg);
  margin-left: 1%;
}

#tres-principales li:nth-child(2) {
  background-image: url(../imagenes/landing/principales/obras.jpg);
  margin: 0 1%;
}

#tres-principales li:nth-child(3) {
  background-image: url(../imagenes/landing/principales/proyectos.jpg);
}

#tres-principales li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: rgba(0, 79, 189, 0.5);
  border: 1px solid white;
  padding-top: 200px;
}

#tres-principales li a h3 {
  color: white;
  font-size: 25px;
  background-color: rgba(0, 79, 189, 0);
  padding: 20px 20px;
}

#tres-principales li a:hover {
  left: 10%;
  width: 80%;
  background-color: rgba(0, 79, 189, 0.2);
  padding-top: 120px;
}

#tres-principales li a:hover h3 {
  background-color: rgba(0, 79, 189, 0.5);
}

/*mapas*/
#mapas {
  width: 100%;
  height: 430px;
}
.contacto-mapas {
  position: relative;
  float: left;
  width: 49%;
  height: 400px;
  background-image: url(../imagenes/concrete_seamless.png);
  padding-top: 40px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 40px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.contacto-mapas-centro {
  margin-left: 2%;
}

.contacto-mapas h3 {
  text-align: center;
  font-family: "ArsenalBold";
  font-size: 28px;
  color: #0933a3;
  padding-bottom: 20px;
}

.contacto-mapas p {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(153, 153, 153, 0.4);
  font-size: 20px;
  line-height: 24px;
  color: #0933a3;
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
}
/*cierre-mapas*/

footer {
  margin: auto;
  max-width: 500px;
  height: 200px;
  text-align: center;
  color: #657976;
  font-size: 16px;
  line-height: 26px;
}

footer p {
  margin-top: 30px;
}

footer p a:hover {
  opacity: 0.8;
}

footer h5 {
  margin-top: 20px;
}

footer h5 a {
  font-size: 13px;
  letter-spacing: 2px;
  color: #878b91;
}

footer h5 a:hover {
  color: #e60c43;
}

/*POP UP*/
/* --------------------------------
xnugget info
-------------------------------- */
.cd-nugget-info {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  bottom: 0;
  left: 0;
}
.cd-nugget-info a {
  position: relative;
  font-size: 14px;
  color: #5e6e8d;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.no-touch .cd-nugget-info a:hover {
  opacity: 0.8;
}
.cd-nugget-info span {
  vertical-align: middle;
  display: inline-block;
}
.cd-nugget-info span svg {
  display: block;
}
.cd-nugget-info .cd-nugget-info-arrow {
  fill: #5e6e8d;
}

/* --------------------------------
xpopup
-------------------------------- */
.cd-popup-trigger {
  width: 200px;
  height: 70px;
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-image: url(../imagenes/contact.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-color: #0933a3;
  color: white;
  font-size: 16px;
  line-height: 18px;
  z-index: 20;
  border-radius: 20px;
  padding: 15px 10px 20px 60px;
}

.cd-popup-trigger:hover {
  background-color: #25d366;
}

.cd-popup {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  width: 90%;
  height: 200px;
  padding-top: 40px;
  max-width: 400px;
  margin: 4em auto;
  background: #0933a3;
  border-radius: 0.25em 0.25em 0.4em 0.4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.cd-popup-container ul {
  width: 80%;
  height: 120px;
  margin: auto;
}

.cd-popup-container ul li {
  color: white;
  font-size: 16px;
  line-height: 50px;
  font-weight: 900;
  width: 50%;
  height: 150px;
  position: relative;
  float: left;
  text-align: center;
}

.cd-popup-container ul li a:hover {
  opacity: 0.7;
}

.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before,
.cd-popup-container .cd-popup-close::after {
  content: "";
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: white;
}
.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto;
  }
}
/*CIERRE POP UP**/

/* M E D I A _ Q U E R Y
*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

/*1024*/
@media screen and (max-width: 1100px) {
  #categorias-inicio {
    width: 690px;
    height: 810px;
  }

  #quienes-somos-inicio {
    width: 690px;
    padding: 50px;
  }

  #sedes {
    height: 570px;
    padding-top: 25px;
  }

  #sedes section {
    width: 90%;
    height: 250px;
    margin: 0px 5% 20px 5%;
  }

  #tres-principales {
    width: 80%;
    height: 950px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }

  #tres-principales li {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    position: relative;
    float: left;
  }

  #tres-principales li:nth-child(1) {
    margin-left: 0;
  }

  #tres-principales li:nth-child(2) {
    margin: 0 0 20px 0;
  }
}

/*CELULAR*/
@media screen and (max-width: 700px) {
  /*popup------------------------ */
  .cd-popup-trigger {
    width: 70px;
    height: 70px;
    right: 5px;
    bottom: 40px;
    background-color: rgba(0, 189, 37, 0.8);
    border-radius: 35px 5px 5px 35px;
    padding: 0;
    background-position: center;
    background-image: url(../imagenes/contact.svg);
  }

  .cd-popup-trigger span {
    display: none;
  }

  body {
    margin: 5px;
    padding: 0px;
  }

  header {
    width: 100px;
    height: 100px;
    margin: 25px auto;
  }

  header figure,
  header figure img {
    width: 100px;
    height: 100px;
  }

  #menu-general {
    border-top: 120px solid #0933a3;
    border-right: 120px solid transparent;
    top: 5px;
    left: 5px;
  }

  #trigger-overlay {
    top: -130px;
    width: 60px;
    font-size: 17px;
  }

  .overlay ul li a {
    font-size: 25px;
    line-height: 50px;
  }

  #categorias-inicio {
    width: 90%;
    height: 1560px;
  }

  #categorias-inicio li {
    width: 100%;
    height: 250px;
    margin: 0px 0px 10px 0px;
  }

  #categorias-inicio a {
    width: 100%;
  }

  #quienes-somos-inicio {
    width: 100%;
    height: auto;
    padding: 50px;
  }

  #quienes-somos-inicio h1 {
    font-size: 18px;
    letter-spacing: normal;
    line-height: 30px;
  }

  #quienes-somos-inicio p {
    font-size: 16px;
    line-height: 26px;
  }

  #sedes {
    width: 94%;
  }

  #sedes section {
    font-size: 16px;
    line-height: 26px;
    padding: 3rem;
  }

  #sedes section h2 {
    font-size: 18px;
    line-height: 38px;
    letter-spacing: 1px;
  }

  /*** Navigation slider ***/

  #slider-logos {
    width: 94%;
  }

  .nbs-flexisel-nav-left,
  .nbs-flexisel-nav-right {
    width: 25px;
    height: 50px;
  }

  .nbs-flexisel-nav-left {
    left: -30px;
    background: url(../imagenes/button-previous-p.png) no-repeat;
  }

  .nbs-flexisel-nav-right {
    right: -30px;
    background: url(../imagenes/button-next-p.png) no-repeat;
  }

  #tres-principales {
    width: 94%;
  }

  #tres-principales li a {
    background-color: rgba(0, 79, 189, 0.2);
    padding-top: 120px;
  }

  #tres-principales li a h3 {
    font-size: 20px;
    line-height: 25px;
    background-color: rgba(0, 79, 189, 0.5);
    padding: 20px 50px;
  }

  #mapas {
    width: 100%;
    height: 700px;
  }

  .contacto-mapas {
    width: 100%;
    height: 400px;
  }

  .contacto-mapas-centro {
    margin-left: 0;
  }

  footer {
    width: 100%;
    height: 400px;
    font-size: 13px;
    line-height: 23px;
  }
}
